.navbar-light {
    background: #fff !important;
    z-index: 3;
    padding: 0;
    -webkit-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 5px 20px -17px rgba(0, 0, 0, 0.34);
}

.navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 14px;
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: 700;
    color: gray;
    position: relative;
    opacity: 1 !important;
}

.navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #6bb8b2;
}


.navbar-light .navbar-nav > .nav-item > .nav-link:hover:before {
    visibility: visible;
    background-color: #6bb8b2;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-light .navbar-nav > .nav-item.active > a {
    color: #6bb8b2;
}

.navbar-light .navbar-nav > .nav-item.active > a:before {
    visibility: visible;
    background-color: #6bb8b2;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}