@import url("navbar.css");
@import url("slider.css");
@import url("makaleler.css");
@import url("contact.css");

body{
    padding: 0;
    margin: 0;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    font-family: 'Nunito', sans-serif;
}

.wrap{
    background: #6bb8b2;
    position: relative;
    z-index: 0;
    width: 100%;
}


.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.social-media{
    display: inline-block;
    float: left;
    margin-bottom: 0px;
    padding: 0;
}

.social-media p a{
    width: 40px;
    height: 40px;
    margin-right: 1px;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none;
}

.social-media p a span{
    color: #fff;
}

.social-media p a:hover{
    background-color: #fff;
    border-color: #fff;
}

.social-media p a:hover span{
    color: #6bb8b2;
}

.justify-content-center{
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.justify-content-end{
    -webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.wrap .links a{
    color: #fff;
    font-size: 12px;
}

.titles{
    color: #6bb8b2;
    font-weight: 800;
    padding-bottom: 20px;
}

.block{
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 220px;
    position: relative;
    display: block;
    border-radius: 0.25rem !important;
}

.yazisinirla{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.makaleler h3{
    color: #6bb8b2;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

.makalebutton{
    font-size: 16px;
    font-weight: 500;
    color: #6bb8b2;
    border: 2px solid #6bb8b2;
    padding: 12px 30px;
    display: inline-block;
    float: right;
    margin-top: 20px;
    -webkit-transition: .5s all ease-in-out;
    -o-transition: .5s all ease-in-out;
    transition: .5s all ease-in-out;
}

.makalebutton:hover {
    color: #fff;
    border: 2px solid #6bb8b2;
    background-color: #6bb8b2;
}

.makale-title {
    text-align: left;
    float: left;
    padding: 30px 0;
}


.services img {
    height: 230px;
}

.devambuton {
    border-radius: 0.25rem;
    color: #fff !important;
    background-color: #6bb8b2;
    padding: 3px 8px;
}


.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #fff;
    background-color: rgba(107, 184, 178,0.3);
    width: 100%;
    text-align: center;
    padding: 5px 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


.servicesitem:hover .centered{
    padding: 50px 0px;
}

.servicesitem{
    padding: 0;
}

.text-muted {
    color: #ccc !important;
    font-size: 12px;
    text-transform: uppercase;
}


.pet-footer {
    font-size: 16px;
    padding: 5em 0 0 0;
    background: rgb(56,157,149);
    background: -moz-linear-gradient(6deg, rgba(56,157,149,1) 0%, rgba(107,184,178,1) 100%);
    background: -webkit-linear-gradient(6deg, rgba(56,157,149,1) 0%, rgba(107,184,178,1) 100%);
    background: linear-gradient(6deg, rgba(56,157,149,1) 0%, rgba(107,184,178,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#389d95",endColorstr="#6bb8b2",GradientType=1);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pet-footer h3 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.pet-footer a {
    color: rgba(255, 255, 255, 0.7);
}
.pet-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.pet-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.pet-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.pet-footer-social li a span {
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.pet-footer a:hover{
    color: #fff;
    background-color: #fff;
}

.pet-footer a:hover span{
    color: #6bb8b2;
}

.faqs {
    position: relative;
    width: 100%;
    padding: 45px 0;
}
.faqs .card {
    margin-bottom: 15px;
    padding-top: 15px;
    border: none;
    border-radius: 0;
    border-top: 1px solid #eeeeee;
}

.faqs .card-body {
    padding: 15px 0 0 0;
    font-size: 16px;
    border: none;
    background: #ffffff;
}

.faqs .card-header a {
    display: block;
    width: 100%;
    color: #6bb8b2;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
}

.faqs .card-header a span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    text-align: center;
    background: #6bb8b2;
    color: #fff;
    border-radius: 5px;
}

.faqs .card-header [data-toggle="collapse"]:after {
    font-family: 'font Awesome 5 Free';
    content: "\f067";
    float: right;
    color: #6bb8b2;
    font-size: 12px;
    font-weight: 900;
    transition: .3s;
}

.bread-bg {
    background-color: #6bb8b2;
}

.urunler .urunrow p{
    color: gray;
}